* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.opacity {
    opacity: 0.4;
}

body {
    font-family: 'Raleway';
    background-color: #05171e;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: aliceblue;
}

h2 {
    width: 400px;
    word-wrap: break-word "-";
    text-align: left;
}

h3 {
    color: #1b4a5d;
    text-align: center;
}

nav {
    height: 180px;
    background-color: #082129;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_div {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


.nav_image {
    height: 160px;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 10px;

}

.nav_span {
    color: aliceblue;
    font-size: 72px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 60px;
}

.renderSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.singleBookElement {
    height: 500px;
    width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    padding: 10px;
    margin-top: 20px;
    border: #2d7b9a 2px solid;
}

.singleBookElement_max-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.singleBookName {
    width: 280px;
    max-width: 280px;
    color: #1b4a5d;
    text-align: center;
}

.book_info {
    color: #2d7b9a;
    text-align: justify;
}

#book_info th:first{
 text-align:justify;
}

.book_picture {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.book_comments {
    color: #2d7b9a;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 276px;
    height: 280px;
    overflow: auto;
    display: flex;
    justify-content: center;
    border: #2d7b9a 2px solid;
}

.book_comments_window{
    height: 150px;
    font-size: 14px;
}

.input_comment {
    width: 200px;
    border-radius: 4px;
}

.input_comment_button {
    width: 20px;
    height: 20px;
    background-color: #1db5f1;
    border-radius: 4px;
}

.book_input {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
}

.book_input_comment_nick {
    width: 72px;
    height: 24px;
    border-radius: 4px;
    text-align: center;
}

.book_input_comment {
    height: 24px;
    border-radius: 4px;
    text-align: center;
}

.book_input_comment_button {
    width: 32px;
    height: 24px;
    border: #1b4a5d 2px solid;
    border-radius: 4px;
    color: aliceblue;
    text-align: center;

}

.book_input_comment_button:hover {
    width: 32px;
    height: 24px;
    border: #1db5f1 2px solid;
    border-radius: 4px;
    color: aliceblue;
    background-color: #0f2a35;
    text-align: center;

}

body::-webkit-scrollbar {
    width: 7px;

}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

body::-webkit-scrollbar-thumb {
    outline: 4px solid #333333;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.book_comments::-webkit-scrollbar {
    width: 7px;

}

.book_comments::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

.book_comments::-webkit-scrollbar-thumb {
    outline: 4px solid #333333;
    background-color: #f5f5f5;
    border-radius: 4px;
}

/* -------------------------------- 
--------------------------------
--------------------------------
--------------------------------*/

.fotos_render {

    max-width: 1920px;
    min-height: calc(100vh - 360px);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-bottom: 64px;

}

.fotos_render_h2 {
    width: 256px;
    color: aliceblue;
    font-size: 32px;
    word-wrap: break-word "-";
    text-align: center;
    margin-bottom: 18px;
}


.fotos_render_img {
    width: 256px;
    height: 256px;
    object-fit: cover;
    display: flex;
    border-radius: 48px;
    margin: 20px;
    transition: 0.2s;
    border: #d4e8f0 solid 2px;
}

.fotos_render_img:hover {
    width: 256px;
    height: 256px;
    object-fit: cover;
    display: flex;
    border-radius: 48px;
    cursor: pointer;
    transform: scale(1.12);
    transition: 0.2s;
    border: #1db5f1 solid 2px;
}

.fotoWindow {
    width: 768px;
    height: 1024px;
    border-radius: 40px;
    border: #d4e8f0 solid 3px;
    background-color: #0f2a35;
    margin: 20px;
    position: absolute;

    top: 55%;
    left: 50%;
    margin-top: -450px;
    /* Half the height */
    margin-left: -400px;
    /* Half the width */

    vertical-align: middle;
    right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.zindex_opacity_unvisible {
    z-index: -1;
    opacity: 0;
}

.zindex_opacity_visible {
    z-index: 1;
    opacity: 1;
}

.fotoWindowTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    padding-right: 60px;
}

.fotoWindowTopH2 {
    color: aliceblue;
    font-size: 32px;
    word-wrap: break-word "-";
    text-align: center;
    word-break: break-word;
    margin-right: 0;
    padding-left: 30px;
}

.fotoWindowCenter {
    width: 660px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
    padding: 20px;
    border: #d4e8f0 solid 2px;
    background: #050e12;
}

.buttonsLeftAndRight {
    width: 100px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border: #05171e solid 3px;
    border-radius: 50px;
    background: radial-gradient(#246680, #05171e);
    font-size: 80px;
    font-weight: 400;
    color: #05171e;
    text-decoration: none;


}

.buttonsLeftAndRight:hover {
    width: 100px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border: #05171e solid 3px;
    font-size: 80px;
    font-weight: 400;
    background: radial-gradient(#1b4a5d, #050e12);
    color: #091920;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}


.fotoWindowBottom {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.counter {
    width: 200px;
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

footer {
    height: 180px;
    width: 100%;
    background-color: #082129;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_span {
    color: aliceblue;
    font-size: 24px;
    font-weight: 500;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.d_none {
    display: none;
}

.d-none-always {
    display: none;
}

/* --------------------------------------------------------------------------------------------------- */

/* iPads (portrait and landscape) ----------- */
@media (max-width : 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        color: aliceblue;
        font-size: 24px;
    }

    h2 {
        width: 200px;
        word-wrap: break-word "-";
        text-align: left;
    }

    nav {
        height: 180px;
        width: 100%;
        background-color: #082129;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav_div {
        height: 180px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


    .nav_image {
        height: 140px;
        width: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 6px;

    }

    .nav_span {
        color: aliceblue;
        font-size: 48px;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 30px;
    }

    .singleFotoElement {
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .singleFotoElement_max-width {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .fotos_render {
        min-height: calc(100vh - 180px);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 16px;
    }

    .fotos_render_h2 {
        width: 256px;
        color: aliceblue;
        font-size: 32px;
        word-wrap: break-word "-";
        text-align: center;
        margin-bottom: 18px;
    }


    .fotos_render_img {
        width: 256px;
        height: 256px;
        object-fit: cover;
        display: flex;
        border-radius: 48px;
        margin: 0px;
        padding: 0px;
        transition: 0.2s;
        border: #d4e8f0 solid 2px;
    }

    .fotos_render_img:hover {
        width: 256px;
        height: 256px;
        object-fit: cover;
        display: flex;
        border-radius: 48px;
        cursor: pointer;
        transform: scale(1.12);
        transition: 0.2s;
        border: #1db5f1 solid 2px;
    }

    .fotoWindow {
        width: 100%;
        height: 1024px;
        border-radius: 40px;
        border: #d4e8f0 solid 3px;
        background-color: #0f2a35;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 55%;
        left: 50%;
        margin-top: -512px;
        /* Half the height */
        margin-left: -50%;
        /* Half the width */
        vertical-align: middle;
        right: auto;

    }

    .fotoWindowTop {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }

    .fotoWindowTopH2 {
        color: aliceblue;
        font-size: 24px;
        padding-right: 10px;
        word-wrap: break-word "-";
        text-align: center;
        word-break: break-word;


    }

    .fotoWindowCenter {
        width: 90%;
        height: 500px;
        object-fit: cover;
        border-radius: 50px;
        border: #d4e8f0 solid 2px;
        background: #050e12;
    }

    .buttonsLeftAndRight {
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        border: #05171e solid 3px;
        border-radius: 50px;
        background: radial-gradient(#246680, #05171e);
        font-size: 80px;
        font-weight: 400;
        color: #05171e;
        text-decoration: none;


    }

    .buttonsLeftAndRight:hover {
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        border: #05171e solid 3px;
        font-size: 80px;
        font-weight: 400;
        background: radial-gradient(#1b4a5d, #050e12);
        color: #091920;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }


    .fotoWindowBottom {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }

    .counter {
        width: 200px;
        font-size: 30px;
        font-weight: 700;
        color: aliceblue;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    footer {
        height: 180px;
        width: 100%;
        background-color: #082129;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
    }

    .footer_span {
        color: aliceblue;
        font-size: 24px;
        font-weight: 500;
        word-break: break-word;
        text-align: center;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

/* 

--------------------------------------------------------------------------------------------------- */
/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        color: aliceblue;
        font-size: 24px;
    }

    h2 {
        width: 200px;
        word-wrap: break-word "-";
        text-align: left;
    }

    nav {
        height: 120px;
        width: 100%;
        background-color: #082129;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav_div {
        height: 120px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


    .nav_image {
        height: 80px;
        width: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 6px;

    }

    .nav_span {
        color: aliceblue;
        font-size: 36px;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 30px;
    }

    .singleFotoElement {
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .singleFotoElement_max-width {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .fotos_render {
        min-height: calc(100vh - 120px);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 16px;
    }

    .fotos_render_h2 {
        width: 256px;
        color: aliceblue;
        font-size: 32px;
        word-wrap: break-word "-";
        text-align: center;
        margin-bottom: 18px;
    }


    .fotos_render_img {
        width: 256px;
        height: 256px;
        object-fit: cover;
        display: flex;
        border-radius: 48px;
        transition: 0.2s;
        border: #d4e8f0 solid 2px;
        margin: 10px;
    }

    .fotos_render_img:hover {
        width: 256px;
        height: 256px;
        object-fit: cover;
        display: flex;
        border-radius: 48px;
        cursor: pointer;
        transform: scale(1.12);
        transition: 0.2s;
        border: #1db5f1 solid 2px;
        margin: 10px;
    }

    .fotoWindow {
        width: 100%;
        height: 75%;
        border-radius: 40px;
        border: #d4e8f0 solid 3px;
        background-color: #0f2a35;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 315px;
        left: 50%;
        margin-top: -50%;
        /* Half the height */
        margin-left: -50%;
        /* Half the width */
    }

    .fotoWindowTop {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .fotoWindowTopH2 {
        color: aliceblue;
        font-size: 18px;
        padding-right: 10px;
        word-wrap: break-word "-";
        text-align: center;
        word-break: break-word;


    }

    .fotoWindowCenter {
        width: 90%;
        height: 500px;
        object-fit: cover;
        border-radius: 50px;
        border: #d4e8f0 solid 2px;
        background: #050e12;
    }

    .buttonsLeftAndRight {
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        border: #05171e solid 3px;
        border-radius: 50px;
        background: radial-gradient(#246680, #05171e);
        font-size: 80px;
        font-weight: 400;
        color: #05171e;
        text-decoration: none;


    }

    .buttonsLeftAndRight:hover {
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        border: #05171e solid 3px;
        font-size: 80px;
        font-weight: 400;
        background: radial-gradient(#1b4a5d, #050e12);
        color: #091920;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }


    .fotoWindowBottom {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .counter {
        width: 200px;
        font-size: 30px;
        font-weight: 700;
        color: aliceblue;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    footer {
        height: 180px;
        width: 100%;
        background-color: #082129;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
    }

    .footer_span {
        color: aliceblue;
        font-size: 24px;
        font-weight: 500;
        word-break: break-word;
        text-align: center;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

/* --------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */




/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}